name: PHP Linting
on:
    push:
        branches:
            - main
    pull_request:
jobs:
    phplint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - name: "laravel-pint"
              uses: aglipanci/laravel-pint-action@latest
              with:
                  preset: laravel
                  verboseMode: true
                  testMode: true
                  configPath: "pint.json"
                  pintVersion: 1.20
                  onlyDirty: true
